<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>WebChat</display-name>
  <servlet>
		<display-name>LoginServlet</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>Servelet.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>RegisterServlet</display-name>
		<servlet-name>RegisterServlet</servlet-name>
		<servlet-class>Servelet.RegisterServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>IndexServlet</display-name>
		<servlet-name>IndexServlet</servlet-name>
		<servlet-class>Servelet.IndexServlet</servlet-class>
	</servlet>
                  <servlet>
		<display-name>MessageServlet</display-name>
		<servlet-name>MessageServlet</servlet-name>
		<servlet-class>Servelet.MessageServlet</servlet-class>
	</servlet>
                    <servlet>
		<display-name>SendMessageServlet</display-name>
		<servlet-name>SendMessageServlet</servlet-name>
		<servlet-class>Servelet.SendMessageServlet</servlet-class>
	</servlet>
        <servlet>
		<display-name>MessageGroupServlet</display-name>
		<servlet-name>MessageGroupServlet</servlet-name>
		<servlet-class>Servelet.MessageGroupServlet</servlet-class>
	</servlet>
        
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>/RegisterServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MessageServlet</servlet-name>
		<url-pattern>/MessageServlet</url-pattern>
	</servlet-mapping>
                    <servlet-mapping>
		<servlet-name>MessageGroupServlet</servlet-name>
		<url-pattern>/MessageGroupServlet</url-pattern>
	</servlet-mapping>
        <servlet-mapping>
		<servlet-name>IndexServlet</servlet-name>
		<url-pattern>/IndexServlet</url-pattern>
	</servlet-mapping>
        <servlet-mapping>
		<servlet-name>SendMessageServlet</servlet-name>
		<url-pattern>/SendMessageServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>login_prova.jsp</welcome-file>
	</welcome-file-list>
</web-app>